
#contenedor{
    text-align: center;
}
table{
    width: 100%;
    border: 1px solid blue;
    text-align: center;
    border-collapse: collapse;
}
th, tr{
    border: 1px solid blue;
}
#titulo{
    background: blue;
    color: white;
}